<h1>Games#new</h1>
<p>Find me in app/views/games/new.html.erb</p>
<%= @letters %>

<%#= raise %>

<form action="./score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="letters" placeholder="Name">
  <input value="<%= @start_time %>" name="time" hidden>
  <input type="submit">
</form>
